{% extends 'header.html' %}

{% block content %}

		<div class="container">
			<div class="row">
				<div class="col-sm-12 p-5">	
				</div>
			</div>
		</div>
		<div class="container">
	<div class="row">
		<div class="col-sm-6 p-2">
			<h1>Search and compare salaries</h1>
			<p>Over 600 million salaries on Indeed</p>
			<input class="form-control" style="float:left;width:300px;margin-right:10px;" type="text" value="" name="search" placeholder="Enter a company name"/>
	<button class="btn btn-primary">Search</button>
		</div>
		<div class="col-sm-6 p-2">
			<img src="{{baseurl}}images/book.jfif">
		</div>
		<div class="container bg-light">
			<div class="row">
				<div class="col-sm-12 p-5">
				</div>
			</div>
		</div>
		<div class="container">
	<div class="row">
		<div class="col-sm-6 p-2">
			<h1>Get personalized salary insights</h1>
<p>Tell us about you and get an estimated calculation of how much you should be earning and insight into your career options.</p>
<button class="btn btn-primary">Get Started</button>
		</div>
			<div class="col-sm-6 p-2">
				<img src="{{baseurl}}images/bubbles.jpg">
			</div>
			<div class="container">
			<div class="row">
				<div class="col-sm-12 p-5">
					<h1>Popular Job Titles</h1>
				</div>
			</div>
		</div>
					<div class="container">
			<div class="row">
				<div class="col-sm-12 p-5">
					<h1>Popular Companies</h1>
</body>
</html>
					{% endblock %}