{% extends 'header.html' %}

{% block content %}
		<div class="container">
			<div class="row">
				<div class="col-sm-12 p-5">	
				</div>
			</div>
		</div>
		<div class="container">
	<div class="row">
		<div class="col-sm-6 p-2">
			<h1>Find great places to work</h1>
               <p>Discover millions of company reviews</p>
				<input type="text" placeholder="enter company name"/>
				<button class="btn btn-primary">Search</button>
			<h6>Do you want to search for salaries?</h6>
		</div>
		<div class="col-sm-6 p-2">
			<img src="{{baseurl}}images/build.jpg">
		</div>
	</div>
</div>

		<div class="container bg-light">
			<div class="row">
				<div class="col-sm-12 p-5">
				<h1>Popular Companies</h1>	
				</div>
				<div class="col-sm-4">
					<img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/54114e825498b196305dbc62f94db5a3"style="height: 70px;width: 70px;float: left;padding-right: 20px">
					<a href="/cmp/Tata-Communications" data-tn-link="" style="font-size: 18px;color: black;padding:20px 0px 0px 0px;">Tata Communications</a><br/>
					<p class="pr-4" style="font-size: 16px;color: black;padding:0px 0px 0px 60px;"><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span> 20200  reviews</p>
				</div>

				<div class="col-sm-4">
					<img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/54114e825498b196305dbc62f94db5a3"style="height: 70px;width: 70px;float: left;padding-right: 20px">
					<a href="/cmp/Tata-Communications" data-tn-link="" style="font-size: 18px;color: black;padding:20px 0px 0px 0px;">Tata Communications</a><br/>
					<p class="pr-4" style="font-size: 16px;color: black;padding:0px 0px 0px 60px;"><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span> 20200  reviews</p>
				</div>
				<div class="col-sm-4">
					<img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/54114e825498b196305dbc62f94db5a3"style="height: 70px;width: 70px;float: left;padding-right: 20px">
					<a href="/cmp/Tata-Communications" data-tn-link="" style="font-size: 18px;color: black;padding:20px 0px 0px 0px;">Tata Communications</a><br/>
					<p class="pr-4" style="font-size: 16px;color: black;padding:0px 0px 0px 60px;"><span class="fa fa-star checked"></span>
<span class="fa fa-star checked text-warning"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span> 20200  reviews</p>
				</div>
			</div>
		</div>
		<div class="container">
	<div class="row">
		<div class="col-sm-4 p-2">
		</div>
			<div class="col-sm-4">
				
			</div>
				<div class="col-sm-4">
				</div>
				<div class="container-fluid mt-5" style="border-top: 5px solid red;">
				<div>
					<h3>Rate your recent company:</h3>

					<p>View more from Indeed’s Top-Rated Workplace awards</p>
				</div>
				<div>
					<h1>More Popular Companies</h1>		
				</div>
</body>
</html>
					{% endblock %}