{% extends 'header.html' %}

{% block content %}

<div class="container-fluid  p-3   text-dark">
	<div class="row">
		<div class="col-sm-3">
	    </div>
	    <div class="col-sm-3">
	    	<h4>what</h4>
            <p>job title or company</p>
			<form method="post" action="search">
                {% csrf_token %}
	        <input class="form-control" type="text" name="c_name" style="box-shadow: 0px 0px 5px grey">
			</div>
			<div class="col-sm-3">
				<h4>where</h4>
				<p>city</p>
				 <input  class="form-control" type="text" name="city">
			</div>
			<div class="col-sm-3" style="margin-top: 75px;">
				 <button class="btn btn-primary pl-5 pr-5">click</button>
			</div>
            </form>
	    <div class="col-sm-12 p-5 text-center"style="font-size:15px">
	    	<h4 style="font-size: 15px;"><font color="blue"  ><a href="resume">Post your resume</a> </font> – It only takes a few seconds</h4>
			<h4 style="font-size: 15px;"><font color="blue"><a href="employee">Employers: Post a job </a></font>– Your next hire is here</h4>
	    </div>
	</div>
	<div>
	</div>
</div>
<div class="container bg-light">
			<div class="row">
				<div class="col-sm-12 pt-5 pb-2">
				<h1>All job</h1>
				</div>
                {% for toy in toys %}
				<div class="col-sm-12">
					<br/>
					<h3>Job Title : <a href="/view_job/{{ toy.id }}/"> {{ toy.job_tittle }}</a></h3>
                    Require language: {{ toy.requirement }}<br/>
                    Apply throungh a it from my website
				</div>


                {% endfor %}
			</div>
			</div>
		</div>

<div class="container-fluid p-5" style="background-color:  lightgrey">
	<div class="row">
		<div class="col-sm-2">
	    </div>
	    <div class="col-sm-6 text-center p-3">
	    	
	    	<h4  class="ml-4 float-left">Recent Searches</h4>
	    </div>
	    <div class="col-sm-4">
             <button class="btn btn-light pl-4 pr-4 ml-5 mt-2">Edit</button>
        </div>
	   <div class="col-sm-8 mx-auto">	
	        <h5 style="background-color: white; padding: 20px;" class="text-primary">Website Template<span class="float-right"><i class="fas fa-chevron-right"></i></span> </h5>
	    </div>
	    
	  <div class="col-sm-8 mx-auto">
	    <h5 style="background-color: white; padding: 20px; text-align: left;" class="text-primary">Bathinda,Punjab<span class="float-right"><i class="fas fa-chevron-right"></i></span></h5>
	    </div>
	    </div>
	    <div class="col-sm-2">
	    </div>
	</div>

	</div>
  <div class="container-fluid mt-5 text-center" style="border-top: 2px solid red">
  	<h6 class="text-left pt-5" style="font-size:12px">Browse-Jobs-Browse-Companies-Salaries-Work at About</h6>
  	<h6 class="text-left pt-3" style="font-size:12px">© 2020 Privacy Center-Cookies, Privacy and Terms</h6>
  	<h3 style="font-size:18px">Let Employers Find You</h3>
	  <button class=" btn btn-primary mb-3"><a href="resume" class="text-white">Upload Your Resume</a></button>
  </div>
  <button></button>
</body>
</html>

 {% endblock %}