{% extends 'header.html' %}

{% block content %}

		<div class="container bg-light">
			<div class="row">
				<div class="col-sm-12 pt-5 pb-2">
				<h1>All Post job</h1>
				</div>
                {% for toy in toys %}

				<div class="col-sm-6">
					<br/>
					<h5>Email : {{ toy.stu_email }}</a><br/>
                    Phone: {{ toy.stu_name }}<br/></h5>
				</div>
				<div class="col-sm-6">
					<br/>
					<br/>
					<a class="btn btn-danger text-white" href="mailto:{{toy.stu_email }}">email</a>
				</div>

                {% endfor %}
			</div>
			</div>
		</div>
		<div class="container">
	<div class="row">
		<div class="col-sm-4 p-2">
		</div>
			<div class="col-sm-4">

			</div>
				<div class="col-sm-4">
				</div>
				<div class="container-fluid mt-5" style="border-top: 5px solid red;">
				<div>
					<h3>Rate your recent company:</h3>

					<p>View more from Indeed’s Top-Rated Workplace awards</p>
				</div>
				<div>
					<h1>More Popular Companies</h1>
				</div>
</body>
</html>
					{% endblock %}